<%= simple_form_for(@location, html: { class: 'form-container', multipart: true }) do |f| %>
  <% if @location.errors.any? %>
    <div class="alert alert-danger">
      <h4>There were problems with the following fields:</h4>
      <ul>
        <% @location.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs row g-3">
    <!-- Location Name -->
    <div class="col-md-12">
      <%= f.input :name, label: "Location Name", placeholder: "Enter the name of the location", input_html: { class: "form-control" } %>
    </div>

    <!-- Address and Coordinates -->
    <div class="col-md-8">
      <%= f.input :address, label: "Address", placeholder: "e.g., 123 Main St, Chicago, IL", input_html: { class: "form-control" } %>
    </div>
    <div class="col-md-4">
      <%= f.input :latitude, label: "Latitude", placeholder: "Enter the latitude", input_html: { class: "form-control" } %>
      <%= f.input :longitude, label: "Longitude", placeholder: "Enter the longitude", input_html: { class: "form-control" } %>
    </div>

    <!-- Description -->
    <div class="col-12">
      <%= f.input :description, label: "Description", placeholder: "Provide a brief description of the location", input_html: { class: "form-control", rows: 3 } %>
    </div>

    <!-- Activities -->
    <div class="col-12">
      <%= f.label :activities, "Select Activities" %>
      <div>
        <% Attribute.where(category: 'Activity').each do |activity| %>
          <div class="form-check">
            <%= check_box_tag "location[activities][]", activity.name, @location.activities&.map(&:name)&.include?(activity.name), class: "form-check-input" %>
            <%= label_tag "location_activities_#{activity.name}", activity.name, class: "form-check-label" %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Amenities -->
    <div class="col-12">
      <%= f.label :amenities, "Select Amenities" %>
      <div>
        <% Attribute.where(category: 'Amenity').each do |amenity| %>
          <div class="form-check">
            <%= check_box_tag "location[amenities][]", amenity.name, @location.amenities&.map(&:name)&.include?(amenity.name), class: "form-check-input" %>
            <%= label_tag "location_amenities_#{amenity.name}", amenity.name, class: "form-check-label" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Existing Images (Only for Edit Action) -->
  <% if @location.persisted? %>
    <div class="col-12 mt-4">
      <h5>Existing Images</h5>
      <% if @location.images.attached? %>
        <% @location.images.each do |image| %>
          <div class="mb-3">
            <%= image_tag image, class: "img-thumbnail", style: "max-width: 150px;" %>
            <div class="form-check">
              <%= check_box_tag "location[remove_images][]", image.blob.id, false, class: "form-check-input" %>
              <%= label_tag "location_remove_images_#{image.blob.id}", "Remove this image", class: "form-check-label" %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>No images available.</p>
      <% end %>
    </div>
  <% end %>

  <!-- Upload New Images -->
  <div class="col-12">
    <%= f.label :images, "Upload Images" %>
    <%= f.file_field :images, multiple: true, class: "form-control" %>
  </div>

  <div class="form-actions mt-4">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
