<h1>Admin: Locations</h1>

<%= link_to "Add New Location", new_admin_location_path, class: "btn btn-primary mb-4" %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= location.address %></td>
        <td><%= truncate(location.description, length: 50) %></td>
        <td>
          <%= link_to "Edit", edit_admin_location_path(location), class: "btn btn-warning btn-sm mr-2" %>
          <%= link_to "Delete", admin_location_path(location), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
