<h1>Attributes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Attribute Name</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @attributes.each do |attribute| %>
      <tr id="attribute_<%= attribute.id %>">
        <td><%= attribute.name %></td>
        <td><%= attribute.category %></td>
        <td>
          <%= link_to "Edit", edit_attribute_path(attribute), class: "btn btn-warning btn-sm" %>
          <%= link_to "Delete", attribute_path(attribute), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Attribute", new_attribute_path, class: "btn btn-primary mb-4" %>
