<h1>Admin: Users</h1>
<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.admin? ? "Admin" : "Regular User" %></td>
        <td>
          <% if user.admin? %>
            <%= link_to "Demote to User", demote_admin_user_path(user), method: :patch, class: "btn btn-warning btn-sm" %>
          <% else %>
            <%= link_to "Promote to Admin", promote_admin_user_path(user), method: :patch, class: "btn btn-primary btn-sm" %>
          <% end %>
          <%= link_to "Delete", admin_user_path(user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
