<%= simple_form_for(@location, html: { class: 'form-container' }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs row g-3">
  <div class="col-md-12">
    <%= f.input :name, label: "Location Name", placeholder: "Enter the name of the location", input_html: { class: "form-control" } %>
  </div>
  <div class="col-md-8">
    <%= f.input :address, label: "Address", placeholder: "e.g., 123 Main St, Chicago, IL", input_html: { class: "form-control" } %>
  </div>
  <div class="col-md-4">
    <%= f.input :latitude, label: "Latitude", placeholder: "Enter the latitude", input_html: { class: "form-control" } %>
    <%= f.input :longitude, label: "Longitude", placeholder: "Enter the longitude", input_html: { class: "form-control" } %>
  </div>
  <div class="col-12">
    <%= f.input :description, label: "Description", placeholder: "Provide a brief description of the location", input_html: { class: "form-control", rows: 3 } %>
  </div>
</div>

  <div class="form-actions mt-4">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
