<div id="<%= dom_id location %>">
  <p>
    <strong>Name:</strong>
    <%= location.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= location.address %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= location.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= location.longitude %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= location.description %>
  </p>

  <%# Display Activities %>
  <p>
    <strong>Activities:</strong>
    <% if location.activities.any? %>
      <%= location.activities.map(&:name).join(', ') %>
    <% else %>
      None
    <% end %>
  </p>

  <%# Display Amenities %>
  <p>
    <strong>Amenities:</strong>
    <% if location.amenities.any? %>
      <%= location.amenities.map(&:name).join(', ') %>
    <% else %>
      None
    <% end %>
  </p>
</div>
