<h1>Locations</h1>

<%= form_with url: locations_path, method: :get, local: true, class: "form-inline mb-4" do %>
  <div class="form-group mr-2">
    <%= label_tag :search, "Search by Name", class: "mr-2" %>
    <%= text_field_tag :search, params[:search], class: "form-control" %>
  </div>
  <div class="form-group mr-2">
    <%= label_tag :activity, "Filter by Activity", class: "mr-2" %>
    <%= select_tag :activity, options_from_collection_for_select(Attribute.all, :name, :name), include_blank: true, class: "form-control" %>
  </div>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<% if @locations.empty? %>
  <p>No locations found. Please try a different search or filter.</p>
<% else %>
  <div class="row">
    <% @locations.each do |location| %>
      <%= render partial: 'locations/location_card', locals: { location: location } %>
    <% end %>
  </div>
<% end %>

<%= link_to "New location", new_location_path, class: "btn btn-success mt-4" %>
