<h1>Locations</h1>

<%= form_with url: locations_path, method: :get, local: true, class: "form-inline mb-4" do %>
  <div class="form-group mr-2">
    <%= label_tag :search, "Search by Name", class: "mr-2" %>
    <%= text_field_tag :search, params[:search], class: "form-control" %>
  </div>
  <div class="form-group mr-2">
    <%= label_tag :activities, "Filter by Activities", class: "mr-2" %>
    <div>
      <% ['Hiking', 'Fishing', 'Camping', 'Kayaking'].each do |activity| %>
        <div class="form-check form-check-inline">
          <%= check_box_tag "activities[]", activity, params[:activities]&.include?(activity), class: "form-check-input" %>
          <%= label_tag "activity_#{activity}", activity, class: "form-check-label" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="form-group mr-2">
    <%= label_tag :amenities, "Filter by Amenities", class: "mr-2" %>
    <div>
      <% ['Picnic Area', 'Dog-Friendly', 'BBQ Grills', 'Public Restrooms'].each do |amenity| %>
        <div class="form-check form-check-inline">
          <%= check_box_tag "amenities[]", amenity, params[:amenities]&.include?(amenity), class: "form-check-input" %>
          <%= label_tag "amenity_#{amenity}", amenity, class: "form-check-label" %>
        </div>
      <% end %>
    </div>
  </div>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<% if @locations.empty? %>
  <p>No locations found. Please try a different search or filter.</p>
<% else %>
  <div class="row">
    <% @locations.each do |location| %>
      <%= render partial: 'locations/location_card', locals: { location: location } %>
    <% end %>
  </div>
<% end %>

<%= link_to "New location", new_location_path, class: "btn btn-success mt-4" %>
