<%= render @location %>

<% if user_signed_in? %>
  <% if current_user.favorites.exists?(location: @location) %>
    <%= button_to 'Remove from Favorites', location_favorite_path(@location), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= button_to 'Add to Favorites', location_favorite_path(@location), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<div>
  <%= link_to "Edit this location", edit_location_path(@location) %> |
  <%= link_to "Back to locations", locations_path %>
  <%= button_to "Destroy this location", @location, method: :delete %>
</div>
